version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next

  api:
    build:
      target: base
    command: pnpm dev --filter=api
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
