

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    networks:
      - app-network


  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: Password123
      MYSQL_DATABASE: dashboard
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  api:
    build:
      target: base
    command: pnpm dev --filter=api
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  mysql-data:

networks:
  app-network:
    driver: bridge